<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<h2 id="text"></h2>
</body>
<script type="text/javascript" th:inline="javascript">

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "localhost:8080",
            success: funcSuccess()
        });

        function funcSuccess() {
            var modelAttributeValue = [[${some}]];
            $('#text').text(modelAttributeValue);
        }
    });

</script>

</html>
